 #game{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color:wheat;
}
h1{
  text-align: center;
} 
#game div{
  height: 200px;
  margin: 10px;

}
.flip{
  transition: 0.6s;
}
#game div:hover{
  border: 1px solid black;
  cursor: pointer;
}
div.flip {
  cursor: default;
}
.hidden{
  transform: scaleX(-1);
  transition: 0.6s;
}
